body {
    margin: 0;
}
.calendar {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.header {
    width: 100%;
    height: 100px;
    background: #F4F4F4;
}
.container {
    padding: 0 12px;
    gap: 10px;
    margin: 0 auto;
    max-width: 1000px;
    height: 100px;
}
.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 20px;
    gap: 10px;
}
.control-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 169px;
    height: 26px;
}
.control-buttons button {
    padding: 6px 12px;
    background: #0271C7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: #FFFFFF;
    border: none;
}
.control-buttons button:hover {
    background: #27A1FF;
}
.control-buttons button:active {
    background: #C2E4FE;
}
.control-buttons button:disabled {
    background: #CFCFCF;
}
.input-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 0;
    gap: 20px;
    width: 250px;
    height: 28px;
}
.input-area input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    width: 210px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
}
.input-area input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #CFCFCF;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 700px;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 12px;
    margin: 0 auto;
    max-width: 1440px;
    height: 700px;
}
#bottom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0;
}
.month-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 220px;
    height: 24px;
}
.month-control button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 24px;
    border-radius: 6px;
    border: none;
    background: url("../icons/arrow_default.png");
}
#btnPrev {
    transform: rotate(-180deg);
}
.month-control button:hover {
    background: url("../icons/arrow_hover.png");
}
.month-control button:active {
    background: url("../icons/arrow_active.png");
}
.month-control button:disabled {
    background: url("../icons/arrow_disabled.png");
}
.month-control p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #292929;
}
#extra-button {
    width: 59px;
    height: 18px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 2px 6px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
#extra-button:hover {
    background: #6B6B6B;
    color: #FFFFFF;
}
#extra-button:active {
    background: #CFCFCF;
    color: #FFFFFF;
}
#extra-button:disabled {
    background: #FFFFFF;
    color: #CFCFCF;
}
#extra-button span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
#table {
    width: 1000px;
    height: 600px;
}
.cell {
    padding-top: 8px;
    padding-left: 8px;
    text-align: left;
    width: 143px;
    height: 120px;
    background: #FFFFFF;
    outline: 1px solid #292929;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B6B6B;
    vertical-align: top;
}
.cell:hover {
    background-color: #CFCFCF;
}
.cell:active {
    box-shadow:  0 0 10px 7px  #27A1FF;
}

/*Модальное окно*/
.modal-content {
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 2;
    width: 280px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    box-shadow: 0 0 10px 4px rgba(41, 41, 41, 0.30);
    color: #CFCFCF;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
.short-modal {
    position: absolute;
    left: 24%;
    top: 10%;
    z-index: 2;
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 10px 5px;
    width: 300px;
    height: 104px;
    box-shadow: 0 0 10px 4px rgba(41, 41, 41, 0.30);
}
.short-modal img {
    margin-left: 275px;
}
.short-modal input {
    width: 276px;
    height: 28px;
    margin: 10px 0;
}
.short-modal button {
    width: 59px;
    height: 18px;
    font-size: 12px;
}
#common {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date {
    color: #292929;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
#cross {
    width: 20px;
    height: 20px;
}
.modal-content input {
    margin-top: 10px;
    padding: 5px 0 5px 10px;
    outline: none;
}
.modal-content  p {
    margin: 6px 0;
    color: #292929;
    font-size: 18px;
}
.users {
    font-size: 14px;
}
.modal-content textarea {
    margin-top: 30px;
    height: 140px;
    padding-left: 10px;
}
.modal-content button {
    padding: 8px;
    border: none;
    color: #FFFFFF;
    border-radius: 8px;
}
#button-ready {
    background-color: #5ab2f6;
    margin-top: 16px;
}
#button-delete {
    background-color: #f65a5a;
    margin-top: 8px;
}
